<% provide(:title, "About") %>
<h1>About</h1>

<p>The team formed by Marcin Cuber, Tudor Maxim, Riccardo Samperna and Keiten Luu has been working on the production of a concept system which detects user's movement while they are asleep. The hardware part of the system is gathering information from the person and uploading it onto the web server. The web server is processing that information and once we manage it to detect that person started waking up, the system reacts and starts playing some music(chosen by petient).<br><br>

Entire system is just a concept, therefore the ideas we came up with were the only possible solution which may or may not work. And what we concentrated on right until now was to use Pebble device to detect motion. For this reason, we built a Pebble and Android app in order to gather data.<br><br>

Once we managed to activate the Pebble device and get specific data out of it, we display the data in the form of daily and weekly graphs. Here a user can allow supervisors to access their data and analyse them in the view of further monitoring.<p>