<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Contact</h1>
		<ul>
			<li>Tudor Maxim: <a href="mailto:tudor.maxim.12@ucl.ac.uk" target="_top">tudor.maxim.12@ucl.ac.uk</a></li>
			<li>Marcin Cuber: <a href="mailto:marcincuber@hotmail.com" target="_top">marcincuber@hotmail.com</a></li>
			<li>Riccardo Samperna: <a href="mailto:riccardo.samperna.13@ucl.ac.uk" target="_top">riccardo.samperna.13@ucl.ac.uk</a></li>
			<li>Keiten Luu: <a href="mailto:xuan.luu.12@ucl.ac.uk" target="_top">xuan.luu.12@ucl.ac.uk</a></li>
		</ul>
	</div>
</div>